.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust to desired width */
  max-width: 400px; /* Set a maximum width if needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #999999;
  position: relative; /* Remove absolute positioning */

  /* Add the following properties */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}
.graph-button{
 display: table-caption;
   margin-top: 10px;
   justify-content: space-around;
}

h2 {
  color: rgb(3, 43, 23);
  text-align: center;
  margin-bottom: 9px;
}

.plot-container {
  width: 100%;
  height: 400px;
}

.messagetext {
  margin-top: 50px;
  font-weight: bold;
  font-size: 34px;
  color: #1e0244;
  text-align: center;
  text-transform: uppercase;
}

button {
  display: flex;
  /* width: 88px; */
  justify-content: space-around;
  height: 40px;
  margin: 1px;
  padding: 4.5px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.displaybox {
  margin-left: -9px;
  background-color: #f8f8f8;
  padding: 13px;
  border: 1px solid #610505;
  border-radius: 18px;
}

.display {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 18px;
  outline: none;
  background-color: transparent;
}

button:hover {
  background-color: rgb(223, 38, 38);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  transform-origin: unset;
}

button:active {
  background-color: #0b6103;
  color: #fff;
}
