.calc {
  display: flex;
  padding: auto;
  justify-content: space-between;
}

.bizz {
  border: 0.4px solid black;
  border-radius: 14px;
}

.equationBox {
  width: 48%;
  height: 480px;
  padding: 20px;
  border: 0.5px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rootsOutput {
  margin-top: 20px;
}

.rootsOutputx {
  margin-top: -15px;
  /* margin-bottom: 1rem; */
}
.rootsOutput p {
  font-weight: bold;
}
.rootsOutputx p {
  font-weight: bold;
}


.rootsOutput span {
  margin-right: 10px;
}

.calculatorInputGroup {
  margin-top: 7px;
}

.calculatorInputGroup label {
  display: inline;
  width: 30px;
}

.calculatorInputGroup input {
  margin-left: 5px;
}


button {
  width: 88px;
}
.combobutton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 11px;
}

.combobutton button {
  display: flex;
 align-items: center;
  margin-top: 14.7px;
  margin-left: 25px;
}
button[type="submit"] {
  margin-top: 10px;
  
}

@media screen and (max-width: 768px) {
  .calc {
    flex-direction: column;
    align-items: center;
  }

  .equationBox {
    width: 90%;
    margin-bottom: 20px;
  }
}
